.container {
    margin-top: 180px;
}
.main_title_wrap > p {
    font-size: 1.4rem;
    letter-spacing: -1px;
    font-weight: bold;
    margin: 1.5rem 0;
}
.sub_title_wrap > p {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 1.5rem 0;
}
.festivites_info_wrap {
    display: flex;
    gap:50px;
    margin-bottom: 70px;
}
.festivites_info_wrap .img_wrap {
    width: calc((100% - 50px) / 2);
    position:relative;
    overflow: hidden;
    border-radius: 20px 0 20px 0;
    background-color: #eee;
}
.festivites_info_wrap .img_wrap > img {
    width:auto !important;
    margin: 0 auto;
}
.festivites_info_wrap .txt_wrap {
    width: calc((100% - 50px) / 2);
    min-height: 350px;
}
.festivites_cont_wrap {
    margin-bottom: 100px;
}
.festivites_map_wrap {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-color: #f9f9f9;
    padding: 40px 0 100px;
}
.festivites_cont .txt_wrap .title {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 15px 0 30px;
}
.festivites_cont .txt_wrap div > .text {
    display: flex;
    align-items: flex-start;
    line-height: 1.4;
    font-size: .8rem;
    margin: 5px 0;
    gap: 6px;
}
.festivites_cont .txt_wrap .info_title {
    white-space: nowrap;
}
.festivites_cont .txt_wrap div > .text > a {
    color:var(--black-color);
    display: inline-block;
    margin-left: 6px;
}
.festivites_cont .txt_wrap div > .detail_infor_text {
    margin-top: 20px;
    line-height: 1.5;
}
.nix {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    margin: 0;
    font-size: .8rem;
}
.festivites_suggestion_wrap .content_wrap {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap:20px;
}
.festivites_suggestion_wrap .content_wrap li {
    width:calc((100% - 15px) / 4);
}
.festivites_suggestion_wrap .content_wrap .img_wrap {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
    background: #ddd;
}
.festivites_suggestion_wrap .content_wrap .img_wrap > img {
    height: auto !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
}
.festivites_suggestion_wrap .content_wrap .title {
    font-size: .9rem;
    padding: 0;
    margin: 10px 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.festivites_suggestion_wrap .content_wrap .add {
    word-break: keep-all;
    font-size: .75rem;
    margin:0;
    line-height: 1.4;
    display: flex;
    gap:5px;
}
.festivites_suggestion_wrap .content_wrap .add > img {
    margin-top: 2px;
}
.festivites_suggestion_wrap .content_wrap .add > span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp:2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.festivites_suggestion_wrap .content_wrap .tel {
    font-size: .8rem;
    margin: 5px 0 0;
    display: flex;
    gap: 5px;
    align-items: center;
}
.directions_wrap {
    display: flex;
    gap:50px;
}
.directions_wrap > .directions_map_wrap {
    flex: 1;
    height: 400px;
}
.directions_wrap > .directions_txt_wrap {
    width: 30%;
    padding: 0;
    margin: 2.25rem 0;
}
.directions_wrap .icon_wrap {
    width: 25px;
    height: 25px;
    display: block;
    position: relative;
}
.directions_txt_wrap li {
    margin-bottom: 30px;
}
.directions_txt_wrap .title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 15px;
    font-size: 1rem;
    font-weight: bold;
}
.directions_txt_wrap .text {
    word-break: keep-all;
    margin: 0;
    font-size: .8rem;
    line-height: 1.4;
}
.empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    max-width: 90%;
}


@media (max-width: 1024px) {
    .container {
        margin-top: 150px;
    }
    .festivites_info_wrap {
        gap:40px;
    }
    .festivites_info_wrap .img_wrap {
        width: calc((100% - 40px) / 2);
        border-radius: 15px 0 15px 0;
    }
    .festivites_info_wrap .txt_wrap {
        width: calc((100% - 40px) / 2);
    }
    .main_title_wrap > p {
        font-size: 1.2rem;
        margin-top: 0;
    }
    .sub_title_wrap > p {
        font-size: 1.1rem;
    }
    .festivites_suggestion_wrap .content_wrap {
        gap: 10px;
    }
}
@media (max-width: 768px) {
    .container {
        margin-top: 120px;
    }
    .festivites_info_wrap {
        flex-wrap: wrap;
        gap: 25px;
        margin-bottom: 80px;
    }
    .festivites_info_wrap .img_wrap {
        width: 100%;
        height: 300px;
    }
    .festivites_info_wrap .txt_wrap {
        width: 100%;
        min-height: auto;
    }
    .festivites_info_wrap .txt_wrap .title {
        margin: 0 0 20px;
        font-size: 1rem;
    }
    .festivites_map_wrap {
        padding: 30px 0 70px;
    }
    .festivites_cont_wrap {
        margin-bottom: 80px;
    }
    .festivites_suggestion_wrap .content_wrap .img_wrap {
        height: 130px;
    }
    
    .directions_wrap > .directions_map_wrap {
        height: 300px;
    }
    .directions_wrap {
        gap: 30px;
    }
    .directions_wrap > .directions_txt_wrap {
        width: 35%;
    }
    .directions_wrap .icon_wrap {
        width: 20px;
        height: 20px;
    }
}
@media (max-width: 600px) {
    .festivites_suggestion_wrap .content_wrap {
        flex-wrap: wrap;
        gap: 2rem 1rem;
    }
    .festivites_suggestion_wrap .content_wrap > li {
        width: calc((100% - 1rem) / 2);
    }
    .festivites_suggestion_wrap .content_wrap .img_wrap {
        height: 150px;
    }
    .festivites_suggestion_wrap .content_wrap .title {
        font-size: .85rem;
        margin: 10px 0 ;
    }
    .directions_wrap {
        flex-wrap: wrap;
    }
    .directions_wrap > .directions_txt_wrap {
        width: 100%;
        margin: 0;
    }
    .directions_wrap > .directions_txt_wrap li:last-child {
        margin-bottom: 0;
    }
}
@media (max-width: 480px) {
    .container {
        margin-top: 100px;
    }
    .festivites_cont_wrap {
        margin-bottom: 60px;
    }
    .sub_title_wrap > p {
        margin-top: 0;
    }
    .festivites_map_wrap {
        padding: 30px 0 50px;
    }
    .festivites_info_wrap .img_wrap {
        height: 230px;
    }
    .festivites_info_wrap {
        gap: 20px;
    }
    .festivites_info_wrap .txt_wrap .title {
        margin-bottom: 15px;
    }
    .festivites_cont .txt_wrap div > .detail_infor_text {
        margin-top: 15px;
    }
    .directions_wrap > .directions_map_wrap {
        height: 250px;
    }
    .directions_wrap .icon_wrap {
        width: 18px;
        height: 18px;
    }
}
@media (max-width: 320px) {
    .container {
        margin-top: 80px;
    }
    .festivites_info_wrap .img_wrap {
        height: 200px;
        border-radius: 10px 0 10px 0;
    }
    .festivites_info_wrap {
        gap: 15px;
    }
    .festivites_info_wrap .txt_wrap .title {
        margin-bottom: 10px;
    }
    .festivites_cont .txt_wrap div > .detail_infor_text {
        margin-top: 10px;
    }
    .festivites_cont_wrap {
        margin-bottom: 50px;
    }
    .directions_wrap > .directions_map_wrap {
        height: 200px;
    }
    .directions_wrap .icon_wrap {
        width: 15px;
        height: 15px;
    }
    .directions_wrap {
        gap: 15px;
    }
    .directions_txt_wrap li {
        margin-bottom: 20px;
    }
    
    .directions_txt_wrap .title {
        margin-bottom: 10px;
        gap: 5px;
    }
}