@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --white-color: #f9f9f9;
  --black-color: #222;
  --main-color: #A7C7E7;
  --sub-color: #2581dc;  
}

html {
    font-size: 20px;
}
/* body {
  cursor: url('/images/icon/camera.png') 10 10, auto;
} */
html,
body {
  font-family: 'NanumSquare';
  margin: 0;
  overflow-x: hidden;
  background-color: #fff;
}
/* .cursor {position: absolute; width: 10px; height: 10px; background: #f9f9f9; border-radius: 50%; z-index: 1000; user-select: none; pointer-events: none; transform: scale(1); transition: transform 0.3s ease-in-out;}
button, a {cursor:url('/images/icon/camera_on.png') 10 10, auto;} */
textarea, input, *::placeholder {
  font-family: 'NanumSquare';
  outline: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color:var(--black-color);
}
button {
  background-color: transparent;
    border: 0;
    padding: 0;
}
main {
    margin-top: 80px;
    min-height: calc(100vh - 80px);
}
.inner_box {
  position: relative;
  width:100%;
}
.w-1200 {
    max-width:1200px;
    width:90%;
    margin: 0 auto;
    position: relative;
}
.h-100 {
  height:100%;
}
.overflow-hidden {
  overflow: hidden;
}
.visual_swiper .swiper {
  overflow: visible;
}
.visual_swiper .swiper-pagination-fraction {
  color: var(--black-color);
  width: auto;
  bottom: -100px;
  font-size: .8rem;
  font-weight: bold;
}



@media (max-width: 1024px) {
  html {
    font-size: 18px;
  }
  .visual_swiper .swiper-pagination-fraction {
    bottom: -70px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
  main {
    margin-top: 60px;
    min-height: calc(100vh - 60px);
  }
  .visual_swiper .swiper-pagination-fraction {
    bottom: -50px;
  }
}
@media (max-width: 600px) {
  .visual_swiper .swiper-pagination-fraction {
    bottom: -30px;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 12px;
  }
  main {
    margin-top: 50px;
    min-height: calc(100vh - 50px);
  }
}