.loading_wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 999;
}
.loader {
    width: fit-content;
    font-size: 2rem;
    line-height: 1.5;
    font-family: system-ui,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(167,199,231,0);
    -webkit-text-stroke: 1px #fff;
    background:
      radial-gradient(1.13em at 50% 1.6em,#fff 99%,rgba(167,199,231,0) 101%) calc(50% - 1.6em) 0/3.2em 100% text,
      radial-gradient(1.13em at 50% -0.8em,rgba(167,199,231,0) 99%,#fff 101%) 50% .8em/3.2em 100% repeat-x  text;
    animation: l9 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .loader:before {
    content: "Loading";
  }
  @keyframes l9 {
    to {background-position: calc(50% + 1.6em) 0,calc(50% + 3.2em) .8em}
  }

  
@media (max-width: 320px) {}