.festivities_wrap {
  display: flex;
  gap: 1rem;
}
.main_contents_wrap {
  margin-bottom: 150px;
  position: relative;
  /* opacity:0; */
}
.main_banner_wrap {
  width:100vw;
  margin-left: calc(-50vw + 50%);
  position: relative;
}
.main_banner_wrap .bg {
  background: url('/images/main_banner_img.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
}
.main_banner_wrap::after {
  content: "";
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height:100%;
  background-color: rgba(0,0,0,.5);
}
.banner_txt_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  z-index: 1;
  text-align: center;
  color: var(--white-color);
}
.banner_txt_wrap .title {
  font-size: 3rem;
  font-weight: 500;
  font-family: "Cormorant", serif;
  margin: 0;
  letter-spacing: 1px;
}
.banner_txt_wrap .txt {
  font-size: 1rem;
  margin-top: 0;
}
.lodgment_wrap {
  display: flex;
  gap:20px;
}
.first_item_wrap {
  width:30%;
}
.other_items_wrap {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap:20px;
}
.other_items_wrap > div {
  width:calc((100% - 40px) / 3);
  height: 250px;
  position: relative;
}
.first_item_wrap > div {
  height: 100%;
  position: relative;
}
.main_title_wrap {
  display: flex;
  margin: 0 0 30px;
  align-items: center;
  justify-content: space-between;
}
.main_title_wrap > h3 {
  margin: 0;
  font-size: 1.25rem;
}
.main_title_wrap > a {
  color:var(--black-color);
  font-size: .75rem;
  line-height: 1;
  font-family: 'Montserrat';
  position: relative;
}
.main_title_wrap > a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: var(--black-color);
  left: 0;
  bottom: -5px;
  transition: all .2s;
}
.main_title_wrap > a .plus_sign {
  transform: rotate(0deg);
  transition: all .3s;
  display: inline-block;
  font-size: .8rem;
}
.btn_wrap {
  text-align: center;
  margin: 50px auto 0;
}
.btn_wrap > a {
  background: var(--black-color);
  color: var(--white-color);
  padding: 15px 50px;
  transition: all 0.3s ease;
  position: relative;
  font-size: .8rem;
  font-family: "Montserrat", serif;
  display: inline-block;
}
.btn_wrap > a:before,
.btn_wrap > a:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0; 
  background-color:  var(--main-color);
  transition: .4s ease all;
}
.btn_wrap > a:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

/* 게시판 영역 */
.main_board_wrap {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  position: relative;
}
.main_board_wrap::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  right: -70px;
  bottom: -250px;
  background-color: var(--sub-color);
  border-radius: 50%;
  opacity: .2;
}
.main_board_wrap::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  right: 50px;
  bottom: -100px;
  background-color: var(--main-color);
  border-radius: 50%;
  opacity: .2;
}
.board_cont_wrap {
  display: flex;
  gap: 100px;
  position: relative;
  z-index: 1;
}
.board_cont_wrap > div {
  width: calc((100% - 100px) / 2);
}

@media (hover: hover) {
  .btn_wrap > a:hover:before,
  .btn_wrap > a:hover:after {
    width: 100%;
    transition: .5s ease all;
  }
  .btn_wrap > a:hover {
    background: transparent;
    color: var(--main-color);
  }
  .main_title_wrap > a:hover .plus_sign {
    transform: rotate(90deg);
  }
  .main_title_wrap > a:hover::after {
    width: 100%;
  }
}



@media (max-width: 1024px) {
  .festivities_wrap {
    gap: .5rem;
  }
  .lodgment_wrap {
    gap:10px;
  }
  .other_items_wrap {
    gap: 10px;
  }
  .other_items_wrap > div {
    width:calc((100% - 20px) / 3);
  }
  .main_board_wrap::before {
    width: 350px;
    height: 350px;
    right: -50px;
    bottom: -250px;
  }
  .main_board_wrap::after {
    width: 350px;
    height: 350px;
    right: 30px;
    bottom: -100px;
  }
  .board_cont_wrap {
    gap: 80px;
  }
  .board_cont_wrap > div {
    width: calc((100% - 80px) / 2);
  }
}
@media (max-width: 768px) {
  .festivities_wrap {
    gap: 1rem;
    flex-wrap: wrap;
  }
  .btn_wrap {
    margin-top: 40px;
  }
  .main_contents_wrap {
    margin-bottom: 120px;
  }
  .banner_txt_wrap .title {
    font-size: 2.8rem;
  }
  .banner_txt_wrap .txt {
    font-size: .9rem;
  }
  .main_banner_wrap .bg {
    height: 70vh;
  }
  .lodgment_wrap {
    flex-wrap: wrap;
  }
  .first_item_wrap {
    width: 100%;
    height: 300px;
    /* height: auto; */
  }
  
  .other_items_wrap > div {
    height: 180px;
    /* height: auto; */
  }
  
  .first_item_wrap > div,
  .other_items_wrap > div {
    border: 1px solid #eee;
    box-sizing: border-box;
  }
  .board_cont_wrap {
    gap: 50px;
    flex-wrap: wrap;
  }
  .board_cont_wrap > div {
    width: 100%;
  }

  /* .main_banner_wrap .bg {
    background-size: auto;
    background-position: center top;
  } */
  
  .main_board_wrap::before {
    width: 300px;
    height: 300px;
    bottom: -200px;
  }
  .main_board_wrap::after {
    width: 300px;
    height: 300px;
    bottom: -50px;
  }
  
}
@media (max-width: 480px) {
  .main_title_wrap {
    margin-bottom: 20px;
  }
  .festivities_wrap {
    gap: .5rem;
  }
  .main_contents_wrap {
    margin-bottom: 100px;
  }
  .main_banner_wrap .bg {
    height: 60vh;
  }
  .other_items_wrap > div {
    width: calc((100% - 10px) / 2);
    height: 200px;
  }
  .first_item_wrap {
    height: 300px;
  }
  
  .main_board_wrap::before {
    width: 230px;
    height: 230px;
    bottom: -170px;
    right: -30px;
  }
  .main_board_wrap::after {
    width: 230px;
    height: 230px;
    bottom: -70px;
  }
  
  .main_title_wrap > h3 {
    font-size: 1.3rem;
  }
}
@media (max-width: 320px) {
  .btn_wrap {
    margin-top: 30px;
  }
  .btn_wrap > a {
    padding: 10px 30px;
  }
  .main_contents_wrap {
    margin-bottom: 80px;
  }
  .main_banner_wrap .bg {
    height: 50vh;
  }
  .other_items_wrap > div {
    height: 150px;
  }
  .first_item_wrap {
    height: 250px;
  }
  .main_board_wrap::before {
    width: 180px;
    height: 180px;
    bottom: -140px;
    right: -20px;
  }
  .main_board_wrap::after {
    width: 180px;
    height: 180px;
    bottom: -40px;
  }
  
}