.festivities_wrap {
  display: flex;
  gap: 1rem;
}
.main_contents_wrap {
  margin-bottom: 150px;
}
.main_banner_wrap {
  width:100vw;
  margin-left: calc(-50vw + 50%);
  position: relative;
}
.main_banner_wrap .bg {
  background: url('/images/main_banner_img.jpg') no-repeat center / cover;
  background-attachment: fixed;
  height: 70vh;
}
.main_banner_wrap::after {
  content: "";
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height:100%;
  background-color: rgba(0,0,0,.5);
}
.banner_txt_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  z-index: 1;
  text-align: center;
  color: var(--white-color);
}
.banner_txt_wrap .title {
  font-size: 3rem;
  font-weight: 500;
  font-family: "Cormorant", serif;
  margin: 0;
  letter-spacing: 1px;
}
.banner_txt_wrap .txt {
  font-size: 1rem;
  margin-top: 0;
}
.lodgment_wrap {
  display: flex;
  gap:20px;
}
.first_item_wrap {
  width:30%;
}
.other_items_wrap {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap:20px;
}
.other_items_wrap > div {
  width:calc((100% - 40px) / 3);
  height: 250px;
  position: relative;
}
.first_item_wrap > div {
  height: 100%;
  position: relative;
}

.main_title_wrap {
  display: flex;
  margin: 0 0 30px;
  align-items: center;
  justify-content: space-between;
}
.main_title_wrap > h3 {
  margin: 0;
  font-size: 1.25rem;
}
.main_title_wrap > a {
  color:var(--black-color);
  font-size: .8rem;
  line-height: 1;
}
.btn_wrap {
  text-align: center;
  margin: 50px auto 0;
}
.btn_wrap > a {
  background: var(--black-color);
  color: var(--white-color);
  padding: 15px 50px;
  transition: all 0.3s ease;
  position: relative;
  font-size: .8rem;
  font-family: "Montserrat", serif;
  display: inline-block;
}
.btn_wrap > a:hover {
  background: transparent;
  /* background-color: #a7c7e7; */
  color: var(--main-color);
   /* box-shadow:10px 10px 10px 10px rgba(180,180,180,.1); */
}
.btn_wrap > a:before,
.btn_wrap > a:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  /* background: var(--black-color); */
  
  background-color:  var(--main-color);
  transition: .4s ease all;
}
.btn_wrap > a:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.btn_wrap > a:hover:before,
.btn_wrap > a:hover:after {
  width: 100%;
  transition: .5s ease all;
}



/* 게시판 영역 */
.board_cont_wrap {
  display: flex;
  gap: 100px;
}
.board_cont_wrap > div {
  width: calc((100% - 50px) / 2);
}