.image_box {
    position: relative;
    width: 100%;
    height:400px;
    overflow: hidden;
}
.image_box > img {
    width: auto !important;
    height: auto !important;
    transform: translate(-50%, -50%);
    top: 50% !important;
    left: 50% !important;
    right: initial !important;
    bottom: initial !important;
    max-height: 100%;
}
.content_box {
    width:calc((100% - 3rem) / 4);
    position: relative;
    transition: all .2s;
}
.content_box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    opacity: 0;
    transition: opacity .3s;
}
.info_box {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity .3s;
}

.info_box .title {
    margin: 0;
    font-size: .9rem;
    color:var(--white-color);
}
.info_box .addr {
    color: #fff;
    font-size: .8rem;
    margin: 0;
    margin: .75rem 0 1rem;
    line-height: 1.4;
    word-break: keep-all;
}

.info_box a {
    display: inline-block;
    padding: .2rem 1rem .3rem;
    color: var(--white-color);
    font-size: .7rem;
    border: 1px solid var(--white-color);
    position: relative;
    transition: all .3s;
}
.info_box a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: var(--white-color);
    transition: all .3s;
    z-index: -1;
}

@media (hover: hover) {
    .content_box:hover::after {
        opacity: 1;
    }
    .content_box:hover .info_box {
        opacity: 1;
    }
    .info_box a:hover {
        color: var(--black-color);
    }
    .info_box a:hover::before {
        width: 100%;
    }
}


@media (max-width: 1024px) {
    .content_box {
        width: calc((100% - 1.5rem) / 4);
    }
    .image_box {
        height: 350px;
    }
    .image_box > img {
        height: 100% !important;
    }
    .content_box::after {
        opacity: 1;
        background: rgba(0, 0, 0, .5);
    }
    .content_box .info_box {
        opacity: 1;
    }
    .info_box a {
        color: var(--black-color);
        color: var(--white-color);
    }
}
@media (max-width: 768px) {
    .content_box {
        width: calc((100% - 1rem) / 2);
    }
    .image_box {
        height: 250px;
    }
}
@media (max-width: 480px) {
    .content_box {
        width: calc((100% - .5rem) / 2);
    }
    .info_box .title {
        font-size: 1.1rem;
    }
    .info_box .addr {
        font-size: .9rem;
    }
    .info_box a {
        font-size: .8rem;
    }
}
@media (max-width: 320px) {
    .image_box {
        height: 200px;
    }
}