.footer {
    background-color: #eee;
    margin-top: 150px;
    position: relative;
}
.ft_top_wrap {
    padding: 50px 0 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.ft_logo_wrap {
    font-size: 1rem;
    font-weight: bold;
    color: #191919;
    text-decoration: none;
    display: inline-block;
    /* width: 25%; */
}
.ft_logo_wrap > div {
    display: flex;
    align-items: center;
    gap: 10px;
}
.ft_logo_wrap span {
    white-space: nowrap;
}
.ft_bt_wrap {
    padding: 15px 0;
    border-top: 1px solid #ccc;
}
.copyright > p {
    margin: 0;
    font-size: .6rem;
    text-align: center;
    color: #333;
    font-family: "Montserrat", serif;
}
.ft_info_wrap ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
.ft_info_wrap ul > li {
    margin: 20px 0;
    display: flex;
}
.ft_info_wrap p {
    margin: 0;
    color:#222;
}
.ft_info_wrap p.title {
    font-weight: bold;
    font-size: .75rem;
    width: 90px;
    line-height: 1;
}
.ft_info_wrap p.text {
    font-size: .7rem;
    line-height: 1;
}
.ft_info_wrap {
    flex:1;
}
.ft_fix_wr {
    position: fixed;
    bottom: 5%;
    right: 40px;
    z-index: 9;
    filter: invert(100%);
}
.ft_fix_wr > .top_btn {
    display:block; 
    background: transparent;
    width: 50px;
    height: 50px; 
    border: 2px solid #f9f9f9; 
    border-radius: 50%;
    position:relative;
}
.ft_sns_wrap {
    position: absolute;
    right: 0;
    bottom: 80px;
    line-height: 1;
}
.ft_sns_wrap > ul {
    padding: 0;
    display: flex;
    gap: 15px;
    margin: 0;
}
.ft_sns_wrap a {
    position: relative;
    width: 25px;
    height: 25px;
    display: inline-block;
}
.ft_logo_wrap .icon_wrap {
    position: relative;
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    .footer {
        margin-top: 120px;
    }
    .ft_top_wrap {
        padding: 40px 0 25px;
        gap: 20px;
    }
    .ft_logo_wrap .icon_wrap {
        width: 25px;
        height: 25px;
    }
    
    .ft_sns_wrap > ul {
        gap: 12px;
    }
    .ft_sns_wrap a {
        width: 22px;
        height: 22px;
    }
}
@media (max-width: 600px) {
    .ft_logo_wrap .icon_wrap {
        width: 23px;
        height: 23px;
    }
    .ft_info_wrap ul > li {
        margin: 15px 0;
    }
    .ft_info_wrap p.title {
        width: 75px;
    }
}
@media (max-width: 480px) {
    .footer {
        margin-top: 100px;
    }
    .ft_top_wrap {
        padding: 30px 0 15px;
        gap: 10px;
    }
    .ft_logo_wrap .icon_wrap {
        width: 20px;
        height: 20px;
    }
    .ft_info_wrap p.title {
        width: 70px;
    }
    .ft_logo_wrap > div {
        gap: 7px;
    }
    .ft_sns_wrap > ul {
        gap: 10px;
    }
    .ft_sns_wrap a {
        width: 20px;
        height: 20px;
    }
    .ft_sns_wrap {
        bottom: initial;
    }
}
@media (max-width: 320px) {
    .footer {
        margin-top: 80px;
    }
    .ft_bt_wrap {
        padding: 10px 0;
    }
    .ft_info_wrap ul > li {
        margin: 10px 0;
    }
    .ft_top_wrap {
        padding: 25px 0 10px;
        gap: 7px;
    }
    .ft_logo_wrap > div {
        gap: 5px;
    }
    .ft_sns_wrap a {
        width: 18px;
        height: 18px;
    }
}