.common_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
    box-shadow: 10px 10px 10px rgba(180,180,180,.15);
    background-color: #fff;
}
.common_header > .w-1200 {
    height: 100%;
}
.header_wrap {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
.hd_logo_wrap {
    font-size: 1rem;
    font-weight: bold;
    color: #191919;
    text-decoration: none;
}
.hd_logo_wrap > div {
    display: flex;
    align-items: center;
    gap: 10px;
}
.hd_logo_wrap span {
    white-space: nowrap;
}
.hd_menu_wrap > ul {
    display: flex;
    gap: 30px;
    padding-left: 0;
    font-family: "Montserrat", serif;
    font-size: .9rem;
    margin: 0;
}
.hd_menu_wrap > ul > li {
    position: relative;
}
.hd_menu_wrap > ul > li > a {
    position: relative;
    transition: all .3s;
}
.hd_menu_wrap > ul > li::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 7px;
    background-color: var(--main-color);
    bottom: 0;
    left: 0;
    opacity: .8;
    transition: width .2s;
}
.hd_right_wrap {
    display: flex;
    gap: 40px;
    align-items: center;
}
.icon_wrap {
    position: relative;
    width: 30px;
    height: 30px;
}

@media (hover: hover) {
    .hd_menu_wrap > ul > li:hover::before {
        width: 100%;
    }
    .hd_menu_wrap > ul > li > a:hover {
        font-weight: 500;
    }
}


@media (max-width: 768px) {
    .common_header {
        height: 60px;
    }
    .hd_right_wrap {
        gap: 30px;
    }
    .hd_menu_wrap > ul {
        gap: 20px;
    }
    .icon_wrap {
        width: 25px;
        height: 25px;
    }
}
@media (max-width: 600px) {
    .hd_right_wrap {
        gap: 20px;
    }
    .hd_menu_wrap > ul {
        gap: 15px;
    }
    
    .hd_logo_wrap > div {
        gap: 7px;
    }
}
@media (max-width: 480px) {
    .hd_right_wrap {
        gap: 15px;
    }
    .hd_menu_wrap > ul {
        gap: 10px;
    }
    
    .icon_wrap {
        width: 22px;
        height: 22px;
    }
}
@media (max-width: 320px) {
    .common_header {
        height: 50px;
    }
    .hd_logo_wrap > div {
        gap: 5px;
    }
    
    .icon_wrap {
        width: 20px;
        height: 20px;
    }
}