.hd_etc_wrap {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 20px;
    align-items: center;
}
.hd_etc_wrap button {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 1;
    cursor: pointer;
    display: block;
}
.sch_bar_wrap {
    display: none;
    position: fixed;
    width: 100%;
    height: calc(100vh - 80px);
    top: 80px;
    left: 0;
}
.sch_bg_wrap {
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
}

.sch_input_box {
    width: 100%;
    background-color: var(--white-color);
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 0;
}
.sch_input_box .flex_box {
  display: flex;
  gap:20px;
}
.sch_input_box input {
    flex: 1;
    padding: 15px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: .8rem;
}
.sch_input_box :focus {
    outline: none;
    outline-offset: none;
}
.sch_input_box button {
    width: 120px;
    border: 0;
    background: var(--main-color);
    color: #fff;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: 500;
    font-family: 'Montserrat', serif;
    cursor: pointer;
}
.ham_btn_wrap {
    display: none;
    cursor: pointer;
}
.ham_btn_wrap > span {
    display: block;
    background-color: var(--black-color);
    width: 25px;
    height: 2px;
}
.ham_btn_wrap > span:nth-child(2) {
    margin: 6px 0;
}
.ham_wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ham_bg {
    background-color: rgba(0,0,0,.5);
    position: absolute;
    width: 100%;
    height: 100%;
}
.ham_contents_box {
    position: absolute;
    right: 0;
    top: 0;
    width: 90%;
    max-width: 450px;
    background-color: #fff;
    height: 100%;
}
.ham_hd_wrap {
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #eee;
    padding: 0 30px;
    text-align: right;
}
.ham_menu_wrap {
    height: calc(100% - 80px);
    padding: 30px;
    box-sizing: border-box;
}
.ham_hd_wrap .close_btn {
    vertical-align: middle;
    cursor: pointer;
}
.Depth_1 {
    padding: 0;
    margin: 0;
}
.Depth_1_title {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    padding: 20px 0;
}
.Depth_2 {
    display: none;
}