.common_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
    box-shadow: 10px 10px 10px rgba(180,180,180,.15);
    background-color: #fff;
    
    /* backdrop-filter: saturate(180%) blur(20px);
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1));
    transition: background-color 0.4s; */
}
.common_header > .w-1200 {
    height: 100%;
}
.header_wrap {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
.hd_logo_wrap {
    font-size: 1rem;
    font-weight: bold;
    color: #191919;
    text-decoration: none;
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
}
.hd_logo_wrap div {
    display: flex;
    align-items: center;
    gap: 10px;
}
.hd_logo_wrap span {
    white-space: nowrap;
}
.hd_menu_wrap {
    /* position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: 1; */
}
.hd_menu_wrap > ul {
    display: flex;
    gap: 30px;
    padding-left: 0;
    font-family: "Montserrat", serif;
    font-size: .9rem;
    margin: 0;
}
.hd_right_wrap {
    display: flex;
    gap: 40px;
    align-items: center;
    /* position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%); */
}