.common_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    /* line-height: 80px; */
    z-index: 999;
    box-shadow: 10px 10px 10px rgba(180,180,180,.1);
    
    backdrop-filter: saturate(180%) blur(20px);
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1));
    transition: background-color 0.4s;
}
.common_header > .w-1200 {
    height: 100%;
}
.hd_logo_wrap {
    font-size: 1rem;
    font-weight: bold;
    color: #191919;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.hd_logo_wrap div {
    display: flex;
    align-items: center;
    gap: 10px;
}
.hd_logo_wrap span {
    white-space: nowrap;
}
.hd_etc_wrap {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 10px;
}
.hd_etc_wrap button {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 1;
    cursor: pointer;
    display: block;
}
.hd_menu_wrap {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: 1;
}