.hd_etc_wrap {
    display: flex;
    gap: 20px;
    align-items: center;
}
.hd_etc_wrap button {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 1;
    cursor: pointer;
    display: block;
}
.sch_bar_wrap {
    display: none;
    position: fixed;
    width: 100%;
    height: calc(100vh - 80px);
    top: 80px;
    left: 0;
}
.sch_bg_wrap {
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
}

.sch_input_box {
    width: 100%;
    background-color: var(--white-color);
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 0;
}
.sch_input_box .flex_box {
  display: flex;
  gap: 20px;
}
.sch_input_box input {
    flex: 1;
    padding: 15px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: .8rem;
}
.sch_input_box:focus {
    outline: none;
    outline-offset: none;
}
.sch_input_box button {
    width: 120px;
    border: 0;
    background: var(--main-color);
    color: #fff;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: 500;
    font-family: 'Montserrat', serif;
    /* cursor: pointer; */
}
.icon_wrap {
    position: relative;
    width: 34px;
    height: 34px;
}

@media (max-width: 768px) {
    .sch_bar_wrap {
        top: 60px;
        height: calc(100vh - 60px);
    }
    .sch_input_box {
        padding: 35px 0;
    }
    .sch_input_box .flex_box {
      gap: 15px;
    }
    .icon_wrap {
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 600px) {
}
@media (max-width: 480px) {
    .sch_input_box {
        padding: 25px 0;
    }
    .sch_input_box input {
        padding: 10px 15px;
    }
    .sch_input_box .flex_box {
      gap: 10px;
    }
    .icon_wrap {
        width: 25px;
        height: 25px;
    }
    .sch_input_box button {
        width: 100px;
    }
}
@media (max-width: 320px) {
    .sch_bar_wrap {
        top: 50px;
        height: calc(100vh - 50px);
    }
    .icon_wrap {
        width: 22px;
        height: 22px;
    }


    
    .sch_input_box {
        padding: 20px 0;
    }
    .sch_input_box input {
        padding: 7px 10px;
        border-radius: 3px;
    }
    .sch_input_box .flex_box {
      gap: 7px;
    }
    .sch_input_box button {
        width: 80px;
        border-radius: 3px;
    }
}