.image_box {
    position: relative;
    width: 100%;
    height:100%;
    overflow: hidden;
    display: block;
    background-color: #eee;
}
.image_box > img {
    width: auto !important;
    height: auto !important;
    transform: translate(-50%, -50%);    
    top: calc(50% - 40px) !important;
    left: 50% !important;
    right: initial !important;
    bottom: initial !important;
    max-width: 100%;
}
.info_box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 80px;
}
.info_box .title {
    margin: 10px 0 5px;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: -.5px;
}
.info_box .addr {
    margin: 0;
    font-size: .7rem;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .info_box {
        height: auto;
        /* left: .5px; */
        /* padding: 10px 10px 20px; */
        padding: 0 5px;
        box-sizing: border-box;
        position: relative;
    }
    .image_box {
        /* border: 1px solid #ccc; */
        height: calc(100% - 60px);
    }
    .image_box > img {
        width: 100% !important;
        top: 50% !important;
        /* top: 0% !important;
        transform: translateX(-50%) !important; */
    }
    .info_box .title {
        word-break: keep-all;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: .9rem;
    }
}   
@media (max-width: 480px) {
    .info_box .addr {
        font-size: .85rem;
    }
    .info_box .title{
        font-size: 1.1rem;
    }
}
@media (max-width: 320px) {
    .info_box {
        padding: 5px 5px 10px;
        box-sizing: border-box;
    }
}