.board_list_wrap {
    padding: 0;
    margin: 0;
}
.board_list_wrap > li {
    padding: 20px;
    padding-left: 65px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.board_list_wrap > li a div p {
    font-size: .8rem;
}
.board_list_wrap > li::after {
    content: "";
    position: absolute;
    top:50%;
    left: 0;
    transform: translateY(-50%);
    width: 50px;
    height: calc(100% - 40px);
    background-color: var(--main-color);
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color: var(--white-color);
}
.board_list_wrap > .notice::after {
    content: "notice";
}
.board_list_wrap > .event::after {
    content: "event";
    background-color: var(--sub-color);
}




@media (max-width: 480px) {
    .board_list_wrap > li::after {
        width: 40px;
        height: calc(100% - 30px);
    }
    .board_list_wrap > li {
        padding: 15px 10px;
        padding-left: 45px;
    }
}