.visual_wrap {
    margin-bottom: 70px;
    padding: 70px 0;
    position: relative;
    background-color: var(--main-color);
    overflow: hidden;
}

.visual_wrap::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 165px;
}
.visual_txt_box {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    letter-spacing: -1.5px;
    padding-bottom: 100px;
    z-index: 1;
}
.visual_img_box {
    width: 60%;
    margin-left: auto;
    overflow: hidden;
    border-radius: 30px 0 30px 0;
}
.visual_cont {
    position: relative;
    width: 100%;
    height:400px;
    z-index: 1;
}
.visual_cont > img {
    position: absolute;
    width:100%;
    height: 100%;
    top:50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%);
    object-fit: cover;
}
.visual_txt_box .title {
    font-size: 1.4rem;
    font-weight: 900;
    margin: 0;
    margin-bottom: 25px;
    color: var(--black-color);
    word-break: keep-all;
}
.visual_txt_box .text {
    font-size: .85rem;
    margin: 0;
    word-break: keep-all;
}
.visual_txt_box .hashtag {
    display: inline-block;
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 5px 0 5px 0;
    font-size: .65rem;
    padding: 5px 10px 6px;
    letter-spacing: -1px;
}
.swiper_toggle_btn {
    position: absolute;
    bottom: -1px;
    left: 50px;
    line-height: 1;
}
.swiper_toggle_btn > button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 1rem;
    cursor: pointer;
}
.snow_wrap .snow_div {
    position: absolute;
    top: -10%;
    z-index: 9999;
    color: var(--white-color);
    text-shadow : 0 0 5px rgba(0, 0, 0, 0.25);
    animation: snow_shake 3s ease-in-out infinite;  
    user-select: none;
    opacity: .7;
    z-index: 0;
  }
  .snow_wrap .snow_div p { animation: snow_fall 10s linear infinite; }
  .snow_wrap .snow_div:nth-of-type(0) { left: 0%; animation-delay: 0s; }
  .snow_wrap .snow_div:nth-of-type(0) p { animation-delay: 0s; }
  .snow_wrap .snow_div:nth-of-type(1) { left: 10%; animation-delay: 1s; }
  .snow_wrap .snow_div:nth-of-type(1) p { animation-delay: 1s; }
  .snow_wrap .snow_div:nth-of-type(2) { left: 20%; animation-delay: 0.5s; }
  .snow_wrap .snow_div:nth-of-type(2) p { animation-delay: 6s; }
  .snow_wrap .snow_div:nth-of-type(3) { left: 30%; animation-delay: 2s; }
  .snow_wrap .snow_div:nth-of-type(3) p { animation-delay: 4s; }
  .snow_wrap .snow_div:nth-of-type(4) { left: 40%; animation-delay: 2s; }
  .snow_wrap .snow_div:nth-of-type(4) p { animation-delay: 2s; }
  .snow_wrap .snow_div:nth-of-type(5) { left: 50%; animation-delay: 3s; }
  .snow_wrap .snow_div:nth-of-type(5) p { animation-delay: 8s; }
  .snow_wrap .snow_div:nth-of-type(6) { left: 60%; animation-delay: 2s; }
  .snow_wrap .snow_div:nth-of-type(6) p { animation-delay: 6s; }
  .snow_wrap .snow_div:nth-of-type(7) { left: 70%; animation-delay: 1s; }
  .snow_wrap .snow_div:nth-of-type(7) p { animation-delay: 2.5s; }
  .snow_wrap .snow_div:nth-of-type(8) { left: 80%; animation-delay: 0s; }
  .snow_wrap .snow_div:nth-of-type(8) p { animation-delay: 1s; }
  .snow_wrap .snow_div:nth-of-type(9) { left: 90%; animation-delay: 1.5s; }
  .snow_wrap .snow_div:nth-of-type(9) p { animation-delay: 3s; }
  .snow_wrap .snow_div:nth-of-type(10) { left: 25%; animation-delay: 0.5s; }
  .snow_wrap .snow_div:nth-of-type(10) p { animation-delay: 2s; }
  .snow_wrap .snow_div:nth-of-type(11) { left: 65%; animation-delay: 2.5s; }
  .snow_wrap .snow_div:nth-of-type(11) p { animation-delay: 4s; }
  .snow_wrap .snow_div:nth-of-type(12) { left: 85%; animation-delay: 2s; }
  .snow_wrap .snow_div:nth-of-type(12) p { animation-delay: 7.5s; }
  .snow_wrap .snow_div:nth-of-type(13) { left: 5%; animation-delay: 0s; }
  .snow_wrap .snow_div:nth-of-type(13) p { animation-delay: 2.5s; }
  .snow_wrap .snow_div:nth-of-type(14) { left: 45%; animation-delay: 1.5s; }
  .snow_wrap .snow_div:nth-of-type(14) p { animation-delay: 3.5s; }
  .snow_wrap .snow_div:nth-of-type(15) { left: 75%; animation-delay: 1s; }
  .snow_wrap .snow_div:nth-of-type(15) p { animation-delay: 2s; }
  .snow_wrap .snow_div:nth-of-type(16) { left: 35%; animation-delay: 2.5s; }
  .snow_wrap .snow_div:nth-of-type(16) p { animation-delay: 4.5s; }
  .snow_wrap .snow_div:nth-of-type(17) { left: 15%; animation-delay: 1s; }
  .snow_wrap .snow_div:nth-of-type(17) p { animation-delay: 3s; }
  .snow_wrap .snow_div:nth-of-type(18) { left: 95%; animation-delay: 0s; }
  .snow_wrap .snow_div:nth-of-type(18) p { animation-delay: 2s; }
  
  @keyframes snow_shake {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(80px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  
  @keyframes snow_fall {
    0% {
      transform: translateY(0vh);
    }
    100% {
      transform: translateY(110vh);
    }
  }


@media (max-width: 1024px) {
  .visual_img_box {
    width: 55%;
  }
  .visual_cont {
    height:320px;
  }
  .visual_txt_box {
    padding-bottom: 70px;
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  .visual_wrap {
    padding: 50px 0;
    margin-bottom: 50px;
  }
  .visual_txt_box {
    padding-bottom: 50px;
  }
  .visual_txt_box .title {
    margin-bottom: 15px;
  }
  .visual_wrap::after {
    height: 120px;
  }
  .visual_cont {
    height: 260px;
  }
}
@media (max-width: 600px) {
  .visual_txt_box {
    position: relative;
    top: 0;
    transform: none;
    width: 100%;
  }
  .visual_txt_box {
    padding-bottom: 30px;
  }
  .visual_img_box {
    width: 100%;
    margin-top: 30px;
    border-radius: 15px 0 15px 0;
  }
  .visual_txt_box .title {
    margin-bottom: 7px;
  }
  .swiper_toggle_btn {
    left: 40px;
  }
  .visual_txt_box .hashtag {
    margin-top: 0;
    letter-spacing: .5px;
    margin-bottom: 5px;
  }
  .visual_wrap::after {
    height: 180px;
  }
}
@media (max-width: 480px) {
  .visual_wrap {
    padding: 40px 0;
    margin-bottom: 40px;
  }
  .visual_cont {
    height: 220px;
  }
  .visual_wrap::after {
    height: 150px;
  }
  
  .visual_txt_box .title {
    line-height: 1.4;
  }
}
@media (max-width: 320px) {
  .visual_wrap {
    padding: 30px 0;
    margin-bottom: 30px;
  }
  .visual_cont {
    height: 180px;
  }
  .visual_wrap::after {
    height: 120px;
  }
  .visual_txt_box .title {
    margin-bottom: 5px;
    font-size: 1.6rem;
  }
  .swiper_toggle_btn {
    left: 30px;
  }
  .visual_txt_box .text {
    font-size: 1rem;
  }
  .visual_txt_box .hashtag {
    font-size: .7rem;
  }
  .visual_img_box {
    margin-top: 20px;
  }
}