.container {
    padding-top: 100px;
}

.creation_hd_wrap {
    text-align: center;
    padding-bottom: 30px;
    /* border-bottom: 1px solid #bbb; */
}
.creation_title_wrap > span {
    display: inline-block;
    background-color: var(--sub-color);
    color: #fff;
    padding: 3px 10px;
    text-transform: uppercase;
    font-size: .7rem;
}
.creation_title_wrap > h2 {
    margin: 15px 0 0;
    font-size: 1.6rem;
}
.creation_info_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}
.creation_info_wrap > p {
    margin: 0;
    font-size: .8rem;
    position: relative;
    line-height: 1;
}
.creation_info_wrap > p:first-child::after {
    content:"";
    position: absolute;
    width: 1px;
    height: 80%;
    background-color: #bbb;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
}

.creation_cont_wrap {
    padding: 30px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
    min-height: 350px;
}
.creation_cont_wrap > p {
    margin: 0;
    font-size: .8rem;
}

.creation_btn_wrap {
    margin-top: 50px;
    text-align: center;
}

.creation_btn_wrap > a {
    position: relative;
    display: inline-block;
    padding: 13px 50px;
    border: 1px solid var(--black-color);
}
.creation_btn_wrap a > span {
    position: relative;
    z-index: 1;
    transition: all .3s;
    font-size: .7rem;
}
.creation_btn_wrap a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: var(--black-color);
    color: var(--black-color);
    top: 0;
    left: 0;
    transition: all .3s;
}
.creation_btn_wrap a:hover span {
    color: var(--white-color);
}
.creation_btn_wrap a:hover::after {
    width: 100%;
}