.container {
    padding-top: 100px;
}
.creation_hd_wrap {
    text-align: center;
    padding-bottom: 30px;
}
.creation_title_wrap > span {
    display: inline-block;
    background-color: var(--main-color);
    color: #fff;
    padding: 3px 10px;
    text-transform: uppercase;
    font-size: .7rem;
}
.creation_title_wrap > span.qa {
    background-color: var(--sub-color);
}
.creation_title_wrap > h2 {
    margin: 15px 0 0;
    font-size: 1.6rem;
}
.creation_info_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}
.creation_info_wrap > p {
    margin: 0;
    font-size: .8rem;
    position: relative;
    line-height: 1;
}
.creation_info_wrap > p:first-child::after {
    content:"";
    position: absolute;
    width: 1px;
    height: 80%;
    background-color: #bbb;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
}
.creation_cont_wrap {
    padding: 30px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
    min-height: 350px;
}
.creation_cont_wrap > p {
    margin: 0;
    font-size: .8rem;
}
.creation_btn_wrap {
    margin-top: 50px;
    text-align: center;
}
.creation_btn_wrap > a {
    position: relative;
    display: inline-block;
    padding: 13px 50px;
    border: 1px solid var(--black-color);
}
.creation_btn_wrap a > span {
    position: relative;
    z-index: 1;
    transition: all .3s;
    font-size: .7rem;
}
.creation_btn_wrap a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: var(--black-color);
    color: var(--black-color);
    top: 0;
    left: 0;
    transition: all .3s;
}
.password_input_wrap {
    display: flex;
    justify-content: flex-end;
    gap:15px;
    margin-top: 30px;
}
.password_input_wrap input {
    border: none;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    font-size: .7rem;
    box-sizing: border-box;
}
.password_input_wrap .delete_btn {
    cursor: pointer;
    border: 1px solid #000;
    padding: 3px 20px;
    font-size: .7rem;
}


@media (hover: hover) {
    .creation_btn_wrap a:hover span {
        color: var(--white-color);
    }
    .creation_btn_wrap a:hover::after {
        width: 100%;
    }
}




@media (max-width: 1024px) {
}
@media (max-width: 768px) {
    .container {
        padding-top: 80px;
    }
    .creation_hd_wrap {
        padding-bottom: 25px;
    }
    .creation_title_wrap > h2 {
        margin-top: 10px;
        font-size: 1.4rem;
    }
    .creation_info_wrap {
        margin-top: 15px;
    }
    .creation_cont_wrap {
        padding: 25px 15px;
        min-height: 300px;
    }
    .creation_cont_wrap > p {
        font-size: .9rem;
    }
    .password_input_wrap {
        margin-top: 25px;
    }
    .password_input_wrap input {
        padding: 10px;
        font-size: .8rem;
    }
    .password_input_wrap .delete_btn {
        font-size: .8rem;
    }
    .creation_btn_wrap > a > span {
        font-size: .8rem;
    }
}
@media (max-width: 480px) {
    .container {
        padding-top: 70px;
    }
    .password_input_wrap {
        gap: 10px;
    }
    .creation_cont_wrap {
        min-height: 250px;
        padding: 15px 10px;
    }
    .creation_hd_wrap {
        padding-bottom: 20px;
    }
    .creation_cont_wrap > p {
        font-size: .85rem;
    }
}
@media (max-width: 320px) {
    .container {
        padding-top: 60px;
    }
    .creation_cont_wrap {
        min-height: 200px;
    }
    .password_input_wrap .delete_btn {
        font-size: .75rem;
        padding: 10px 20px;
    }
    .password_input_wrap input {
        font-size: .75rem;
    }
    .creation_btn_wrap > a {
        padding: 10px 40px;
    }
    .creation_hd_wrap {
        padding-bottom: 15px;
    }
}