.banner_wrap {
    position: relative;
}
.banner_img_wrap {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    /* margin-bottom: 120px; */
}
.banner_img_wrap::after {
    content: "";
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
}
.banner_img_wrap > img {
    height: auto !important;
    top: 50% !important;
    bottom: initial !important;
    transform: translateY(-50%);
}
.banner_txt_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.banner_txt_wrap > .title {
    color: var(--white-color);
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: "Montserrat", serif;
    text-transform: uppercase;
}
.list_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem 1rem;
}
.sub_nav_wrap {
    margin-bottom: 120px;
    display: flex;
    border-bottom: 1px solid #ddd;
    height: 50px;
    line-height: 50px;
}
.sub_nav_wrap > a {
    width: 50px;
    text-align: center;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}
.nav_tab_wrap {
    position: relative;
}
.nav_tab_wrap > button {
    margin: 0;
    padding: 0 20px;
    font-size: .85rem;
    cursor: pointer;
    height: 100%;
    font-family: "Montserrat", serif;
    min-width: 230px;
    text-align: left;
    border-right: 1px solid #ddd;
    position: relative;
}
.nav_tab_wrap > button > span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.nav_tab_wrap > button > span > img {
    transform: rotate(0);
    transition: all .2s;
}
.nav_tab_wrap > button.open > span > img {
    transform: rotate(180deg);
}
.nav_tab_wrap > ul {
    padding: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 3px 3px 7px 5px rgba(180, 180, 180, .08);
    margin: 0;
    margin-top: 1px;;
    z-index: 10;
    width: 100%;
}
.nav_tab_wrap > ul > li {
    line-height: 1;
}
.nav_tab_wrap > ul > li > a {
    display: inline-block;
    padding: 15px 20px;
    font-size: .8rem;
    width: 100%;
    box-sizing: border-box;
}