.banner_wrap {
    position: relative;
}
.banner_img_wrap {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    /* margin-bottom: 120px; */
}
.banner_img_wrap::after {
    content: "";
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
}
.banner_img_wrap > img {
    height: auto !important;
    top: 50% !important;
    bottom: initial !important;
    transform: translateY(-50%);
}
.banner_txt_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.banner_txt_wrap > .title {
    color: var(--white-color);
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: "Montserrat", serif;
    text-transform: uppercase;
}
.list_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem 1rem;
}
.sub_nav_wrap {
    margin-bottom: 120px;
}

